* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-family: 'Courier';
  background-color: #2d2a2e;
  color: #F0F7D1;
  transform: skewY(-3deg);
  margin-left: 19%;
  margin-right:19%;
  margin-top: 19%;
}

footer {
  font-size: 14px;
  margin: 19% 19%;
  text-align: center;
}

h1, a {
  text-align: center;
  color: #425D4E;
  text-decoration: none;

}

img {
  border-radius:50%;
}
